@model SymbolsViewModel;
@{
    string[] _date;
    string _52min = "";
    string _52max = "";
    string _pDay = "";
}
<div class="d-none">
    <label>Reset 1990</label>
    <input type="checkbox" class="chkReset" id="chkReset" name="chkReset" value="1" />
</div>
<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12">
            <form class="d-flex" role="search" action="/Agent/Symbols">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item py-0 px-1 m-0 border-0 ml-4"><h4>NeoTrader</h4></li>
                    <li class="list-group-item py-0 px-1 m-0 border-0">
                        <a href="#" class="btn btn-sm btn-danger btnCaptureSymbols m-1">Capturar</a>
                    </li>
                    <li class="list-group-item py-0 px-1 m-0 border-0">
                        <a href="#" class="btn btn-sm btn-warning btnTrain m-1">Entrenar</a>
                    </li>
                    <li class="list-group-item py-0 px-1 m-0 border-0">
                        <a href="#" data-id="0" class="btn btn-sm btn-success btnPredict m-1">Predecir</a>
                    </li>
                    <li class="list-group-item py-0 px-1 m-0 border-0 mt-1 p-1">
                        <input class="form-control" type="search" placeholder="Buscar..." aria-label="Search" />
                    </li>
                    <li class="list-group-item py-0 px-1 m-0 border-0">
                        <button class="btn btn-sm btn-light mt-1" type="submit"><i class='bi bi-search'></i></button>
                    </li>
                    <li class="list-group-item py-0 px-1 m-0 border-0">
                        <a href="/Agent/Symbols" class="btn btn-sm btn-light btnSymbols m-1"><i class='bi bi-arrow-clockwise'></i></a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 text-center">
            @if (Model.simbolos != null && Model.simbolos.Any())
            {
                <table class="table table-condensed table-hover table-sm" style="font-size:11px;">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th class="text-dark text-start">Fecha</th>
                            <th class="text-dark text-start">Símbolo</th>
                            <th class="text-dark text-start">Tipo</th>
                            <th class="text-dark text-start">Nombre</th>
                            <th class="text-dark text-center">Moneda</th>
                            <th class="text-dark text-end">Volúmen</th>
                            <th class="text-dark text-end">Apertura</th>
                            <th class="text-dark text-end">Cierre</th>
                            <th class="text-dark text-center">Predicción</th>
                            <th class="text-dark text-end">Vender</th>
                            <th class="text-dark text-end">Comprar</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (SymbolsViewModelItems simbolo in Model.simbolos)
                        {
                            _date = simbolo.DatePrice.ToString().Split(" ");
                            _52min = "";
                            _52max = "";
                            if (simbolo.Close <= simbolo.FiftyTwoWeekLow) { _52min = "<span class='badge bg-info p-2'>52</span>"; }
                            if (simbolo.Close >= simbolo.FiftyTwoWeekHigh) { _52max = "<span class='badge bg-primary p-2'>52</span>"; }
                            _pDay = "<span class='badge bg-info p-2'>=</span>";
                            switch (simbolo.Predict)
                            {
                                case 0:
                                    _pDay = "<span class='badge bg-danger p-2'>BAJA</span>";
                                    break;
                                case 1:
                                    _pDay = "<span class='badge bg-info p-2'>SUBE</span>";
                                    break;
                            }
                            <tr>
                                <td><a href="#" data-id="@simbolo.id" class="btn btn-sm btn-success btnPredict m-0 p-1 px-2"><i class='bi bi-patch-question'></i></a></td>
                                @Html.Raw(neoContext.ToCompareDate(_date))
                                <td class="text-start">@simbolo.code</td>
                                <td class="text-start">@simbolo.instrumentType</td>
                                <td class="text-start">@simbolo.description</td>
                                <td class="text-center">@simbolo.currency</td>
                                <td class="text-end">@neoContext.ToMoney(simbolo.Volume, "")</td>
                                <td class="text-muted text-end">@neoContext.ToMoney(simbolo.Open, "")</td>
                                <td class="text-muted text-end">@neoContext.ToMoney(simbolo.Close, "")</td>
                                <td class="text-center">@Html.Raw(_pDay)</td>
                                <td class="text-secondary text-end bold">@Html.Raw(_52min) @neoContext.ToMoney(simbolo.Low, "")</td>
                                <td class="text-primary text-end bold">@Html.Raw(_52max) @neoContext.ToMoney(simbolo.High, "")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Sin datos para mostrar.</p>
            }
        </div>
    </div>
</div>
